---
{% from 'clean_fields.j2' import discard_unwanted_fields %}
{% set __excluded_fields = ['oauth_consumer_key', 'oauth_consumer_secret', 'oauth_map_users',
                            'category', 'category_name', 'config_file', 'default',
                            'description', 'encrypted', 'full_name', 'readonly',
                            'select_values', 'settings_type', 'updated_at', 'id'] %}
{% set __excluded_setting_names = ['oauth_consumer_key', 'oauth_consumer_secret', 'oauth_map_users'] %}
{% set __empty_values = [None, 'None', '', {}, [], [{}]] %}
{% set __reduce_to_name = [] %}
{% set __translate = [] %}
{% set __string_value_names = ['ansible_interval', 'ansible_post_provision_timeout', 'ansible_verbosity', 'email_subject_prefix'] %}
{% set __int_value_names = ['download_rate_limit'] %}
{% set __raw_value_names = ['http_proxy_except_list', 'trusted_hosts'] %}
satellite_settings: {{ [] if info_list | length == 0 }}
{% for __setting in info_list %}
{%   if (__setting.name | default('')) not in __excluded_setting_names and (__setting.name | default('')) not in __empty_values %}
  - name: {{ discard_unwanted_fields(__setting.name, __excluded_fields, __empty_values, __reduce_to_name, __translate) }}
{%     if __setting.name in __raw_value_names %}
    value: |-
      {{ '{%- raw -%}' }}
      {{ discard_unwanted_fields(__setting.value, __excluded_fields, __empty_values, __reduce_to_name, __translate) | string | trim("'") | indent(6) }}
      {{ '{%- endraw -%}' }}
{%     elif __setting.name in __string_value_names %}
    value: "{{ discard_unwanted_fields(__setting.value, __excluded_fields, __empty_values, __reduce_to_name, __translate) | trim('"') | trim("'") }}"
{%     elif __setting.name in __int_value_names %}
    value: {{ discard_unwanted_fields(__setting.value, __excluded_fields, __empty_values, __reduce_to_name, __translate) | default(0, true) }}
{%     elif __setting.value in __empty_values %}
    value: ""
{%     else %}
    value: {{ discard_unwanted_fields(__setting.value, __excluded_fields, __empty_values, __reduce_to_name, __translate) }}
{%     endif %}
{%   endif %}
{% endfor %}
...
