---
{% from 'clean_fields.j2' import discard_unwanted_fields %}
{% set __excluded_fields = ['id', 'created_at', 'updated_at', 'last_login_on', 'last_login_at', 'auth_source_id', 'default_location_id', 'default_organization_id', 'effective_admin', 'otp_required_for_login', 'otp_enabled', 'personal', 'avatar_path', 'locale_name', 'mail_enabled', 'current_login_at', 'current_login_ip', 'login_count', 'password_hash'] %}
{% set __empty_values = [None, 'None', '', {}, [], [{}]] %}
{% set __reduce_to_name = ['default_organization', 'default_location', 'auth_source'] %}
{% set __list_items_to_name = ['roles', 'organizations', 'locations'] %}
{% set __translate = [{'login': 'name'}, {'roles': 'name'}, {'organizations': 'name'}, {'locations': 'name'}] %}
{% set __login_output_key = (__translate | selectattr('login', 'defined') | list | first | default({'login': 'name'}))['login'] %}
satellite_users: {{ [] if detailed_info.results | length == 0 }}
{% for user in detailed_info.results %}
{%   if user.json.login is defined and user.json.login not in __empty_values %}
  - {{ __login_output_key }}: {{ discard_unwanted_fields(user.json.login, __excluded_fields, __empty_values, __reduce_to_name, __translate) }}
{%   for __map_item in (user.json | dict2items) if __map_item.key not in (__excluded_fields + ['login']) and __map_item.value not in __empty_values %}
{%     if __map_item.key in __list_items_to_name %}
    {{ __map_item.key }}:
{%       set __item_key = (__translate | selectattr(__map_item.key, 'defined') | list | first | default({})).get(__map_item.key, 'name') %}
{%       for __inner_item in __map_item.value %}
      - {{ discard_unwanted_fields((__inner_item[__item_key] if (__inner_item is mapping and __item_key in __inner_item) else __inner_item), __excluded_fields, __empty_values, __reduce_to_name, __translate) }}
{%       endfor %}
{%     elif (__translate | selectattr(__map_item.key, 'defined') | list | length) > 0 %}
    {{ (__translate | selectattr(__map_item.key, 'defined') | list | first)[__map_item.key] }}: {{ discard_unwanted_fields(__map_item.value, __excluded_fields, __empty_values, __reduce_to_name, __translate) }}
{%     else %}
    {{ __map_item.key }}: {{ discard_unwanted_fields(__map_item.value, __excluded_fields, __empty_values, __reduce_to_name, __translate) }}
{%     endif %}
{%   endfor %}
{%   endif %}
{% endfor %}
...
