---
{% from 'clean_fields.j2' import discard_unwanted_fields %}
{% set __excluded_fields = ['created_at', 'updated_at', 'id', 'organization_id', 'cp_id'] %}
{% set __empty_values = [None, 'None', '', {}, [], [{}]] %}
{% set __reduce_to_name = ['organization', 'sync_plan'] %}
{% set __translate = [] %}
{% set __raw_fields = ['name', 'description'] %}
satellite_products: {{ [] if info_list | length == 0 }}
{% for __product in info_list %}
{%   for __map_item in (__product | dict2items) if __map_item.key not in __excluded_fields and __map_item.value not in __empty_values %}
{%     if __map_item.key in __raw_fields %}
  {{ '-' if loop.index == 1 else ' ' }} {{ __map_item.key }}: |-
      {{ '{%- raw -%}' }}
      {{ discard_unwanted_fields(__map_item.value, __excluded_fields, __empty_values, __reduce_to_name, __translate) | trim("'") | indent(6) }}
      {{ '{%- endraw -%}' }}
{%     elif __map_item.key in __reduce_to_name %}
  {{ '-' if loop.index == 1 else ' ' }} {{ __map_item.key }}: {{ discard_unwanted_fields((__map_item.value.name if (__map_item.value is mapping and __map_item.value.name is defined) else __map_item.value), __excluded_fields, __empty_values, __reduce_to_name, __translate) }}
{%     else %}
  {{ '-' if loop.index == 1 else ' ' }} {{ __map_item.key }}: {{ discard_unwanted_fields(__map_item.value, __excluded_fields, __empty_values, __reduce_to_name, __translate) }}
{%     endif %}
{%   endfor %}
{% endfor %}
...
